.cards{
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    background: #afa8a84f;
    width: 100px;
   margin-top:100px;
}
#radioContainer {
    margin-top:70px;
   color: white;
   font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
   
}
body{
    background-image:url("image/starwars.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.karakterButonu{
    border-radius: 5px;
    

}